<div class="mb-3">
  <label for="first_name" class="form-label">Nome</label>
  <input type="text" class="form-control" id="first_name" name="first_name" value="{{ provider.first_name }}" required>
  {{ flash('first_name')|raw }}
</div>

<div class="mb-3">
  <label for="last_name" class="form-label">Sobrenome</label>
  <input type="text" class="form-control" id="last_name" name="last_name" value="{{ provider.last_name }}" required>
  {{ flash('last_name')|raw }}
</div>

<div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" id="email" name="email" value="{{ provider.email }}" required>
  {{ flash('email')|raw }}
</div>

<div class="mb-3">
  <label for="phone" class="form-label">Celular</label>
  <input type="tel" class="form-control" id="phone" name="phone" value="{{ provider.phone }}" required>
  {{ flash('phone')|raw }}
</div>

<div class="mb-3">
  <label for="phone_business" class="form-label">Telefone Comercial</label>
  <input type="tel" class="form-control" id="phone_business" name="phone_business" value="{{ provider.phone_business }}"
    required>
  {{ flash('phone_business')|raw }}
</div>

<div class="mb-3">
  <label for="birth_date" class="form-label">Data de Nascimento</label>
  <input type="date" class="form-control" id="birth_date" name="birth_date"
    value="{{ provider.birth_date|date('Y-m-d') }}" required>
  {{ flash('birth_date')|raw }}
</div>
