<div class="mb-3">
  <label for="company_name" class="form-label">Nome da Empresa</label>
  <input type="text" class="form-control" id="company_name" name="company_name" value="{{ provider.company_name }}">
  {{ flash('company_name')|raw }}
</div>

<div class="mb-3">
  <label for="email_business" class="form-label">Email Comercial</label>
  <input type="email_business" class="form-control" id="email_business" name="email_business"
    value="{{ provider.email_business }}" required>
  {{ flash('email_business')|raw }}
</div>

<div class="mb-3">
  <label for="cnpj" class="form-label">CNPJ</label>
  <input type="text" class="form-control" id="cnpj" name="cnpj" value="{{ provider.cnpj }}">
  {{ flash('cnpj')|raw }}
</div>

<div class="mb-3">
  <label for="cpf" class="form-label">CPF</label>
  <input type="text" class="form-control" id="cpf" name="cpf" value="{{ provider.cpf }}">
  {{ flash('cpf')|raw }}
</div>

<div class="mb-3">
  <label for="area_of_activity_id" class="form-label">Área de Atuação</label>
  <select name="area_of_activity_id" class="form-control" id="area_of_activity" required>
    {% for area in areas_of_activity %}
    <option value="{{ area.id}}" {% if provider.area_of_activity_id==area.id %}selected{% endif %}>
      {{ area.name }}
    </option>
    {% endfor %}
  </select>
  {{ flash('area_of_activity')|raw }}
</div>


<div class="mb-3">
  <label for="profession_id" class="form-label">Profissão</label>
  <select name="profession_id" class="form-control" id="profession" required>
    {% for prof in professions %}
    <option value="{{ prof.id }}" {% if provider.profession_id==prof.id %}selected{% endif %}>
      {{ prof.name }}
    </option>
    {% endfor %}
  </select>
  {{ flash('profession')|raw }}
</div>

<div class="mb-3">
  <label for="website" class="form-label">Website</label>
  <input type="url" class="form-control" id="website" name="website" value="{{ provider.website }}">
  {{ flash('website')|raw }}
</div>
